MAKE.AGENDADOR.json
{
    "name": "New scenario",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1333012,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -767,
                    "y": -1132
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "novai agendador de citas",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "fecha_hora",
                        "type": "text"
                    },
                    {
                        "name": "correo_electronico",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 21,
            "module": "openai-gpt-3:transformTextToStructuredData",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3024345
            },
            "mapper": {
                "model": "gpt-3.5-turbo",
                "prompt": "Convierte el siguiente{{3.fecha_hora}}{{3.correo_electronico}} texto en un objeto JSON con las claves \"summary\", \"start\", \"end\" y \"attendees\". La hora de finalización \"end\" debe ser 30 minutos después de la hora de inicio \"start\". Toma en cuenta que la zona horaria es la de Tijuana Baja California , esto tómalo en cuenta para \"Start\" y \"end\"\n\nTexto: {\"value\": \"{\\\"fecha_hora\\\":\\\"{{3.fecha_hora}}\\\",\\\"correo_electronico\\\":\\\"{{3.correo_electronico}}\\\"}\", \"IMTMETHOD\": \"POST\"}\n\n",
                "rawText": "{{3.fecha_hora}}{{3.correo_electronico}}",
                "parameters": [
                    {
                        "name": "summary",
                        "type": "string",
                        "isRequired": "{{true}}",
                        "description": "Título del evento",
                        "valueExamples": [
                            "cita con{{3.correo_electronico}}"
                        ]
                    },
                    {
                        "name": "start",
                        "type": "string",
                        "isRequired": true,
                        "description": "Fecha y hora de inicio del evento",
                        "valueExamples": [
                            "2024-08-18T20:00:00Z"
                        ]
                    },
                    {
                        "name": "end",
                        "type": "string",
                        "isRequired": false,
                        "description": " Fecha y hora de finalización del evento (30 minutos después del inicio",
                        "valueExamples": [
                            "2024-08-18T20:30:00Z"
                        ]
                    },
                    {
                        "name": "attendees",
                        "type": "string",
                        "isRequired": false,
                        "description": "Correo electrónico de los asistentes",
                        "valueExamples": [
                            "axeldemian6969@gmail.com",
                            "axeldemian6969@gmail.com"
                        ]
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -242,
                    "y": -1329
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo"
                        },
                        "parameters": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "edit"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null,
                                            null
                                        ]
                                    }
                                }
                            ]
                        },
                        "objectDefinitions": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "NOVAI2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "rawText",
                        "type": "text",
                        "label": "Text to Parse",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "parameters",
                        "spec": {
                            "name": "value",
                            "spec": [],
                            "type": "collection",
                            "label": "Data Definition"
                        },
                        "type": "array",
                        "label": "Structured Data Definition",
                        "required": true
                    },
                    {
                        "name": "objectDefinitions",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Object Name",
                                    "required": true
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description",
                                    "required": true
                                },
                                {
                                    "name": "properties",
                                    "spec": {
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Property"
                                    },
                                    "type": "array",
                                    "label": "Properties",
                                    "labels": {
                                        "add": "Add property"
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Object Definition"
                        },
                        "type": "array",
                        "label": "Object Definitions"
                    }
                ],
                "interface": [
                    {
                        "name": "summary",
                        "type": "text"
                    },
                    {
                        "name": "start",
                        "type": "text"
                    },
                    {
                        "name": "end",
                        "type": "text"
                    },
                    {
                        "name": "attendees",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3015098
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{21.summary}}",
                    "1": "{{21.start}}",
                    "2": "{{21.end}}",
                    "3": "{{21.attendees}}"
                },
                "sheetId": "Hoja 1",
                "spreadsheetId": "/1Jq2oi-M7hkbuCHy6sXIrqVbaAwPROMcVhaSZC5E6M70",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 58,
                    "y": -1329
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Select by path"
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "CRM"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (soluciones.novai@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 32,
            "module": "google-calendar:createAnEvent",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 3015098
            },
            "mapper": {
                "select": "detail",
                "calendar": "soluciones.novai@gmail.com",
                "summary": "{{21.summary}}",
                "allDayEvent": false,
                "start": "{{21.start}}",
                "end": "{{21.end}}",
                "transparency": "opaque",
                "visibility": "default",
                "guestsCanModify": false,
                "conferenceDate": false
            },
            "metadata": {
                "designer": {
                    "x": 358,
                    "y": -1329
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (soluciones.novai@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "In Detail"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "soluciones.novai@gmail.com (Primary Calendar)"
                        },
                        "colorId": {
                            "mode": "chose"
                        },
                        "allDayEvent": {
                            "mode": "chose"
                        },
                        "overrides": {
                            "mode": "chose"
                        },
                        "attendees": {
                            "mode": "chose"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Busy"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Default"
                        },
                        "sendUpdates": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "recurrence": {
                            "mode": "chose"
                        },
                        "conferenceDate": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create an Event",
                        "required": true,
                        "validate": {
                            "enum": [
                                "quick",
                                "detail"
                            ]
                        }
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "type": "date",
                        "label": "Start Date",
                        "required": true,
                        "time": true
                    },
                    {
                        "name": "end",
                        "type": "date",
                        "label": "End Date",
                        "time": true
                    },
                    {
                        "name": "duration",
                        "type": "time",
                        "label": "Duration"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        },
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ]
                    },
                    {
                        "name": "attendees",
                        "type": "array",
                        "label": "Attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "guestsCanModify",
                        "type": "boolean",
                        "label": "Guests can modify the event",
                        "required": true
                    },
                    {
                        "name": "recurrence",
                        "type": "array",
                        "label": "Recurrence",
                        "spec": {
                            "type": "text",
                            "label": "Value",
                            "name": "value"
                        }
                    },
                    {
                        "name": "conferenceDate",
                        "type": "boolean",
                        "label": "Add Google Meet Video Conferencing",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileUrl",
                                "type": "url",
                                "label": "File URL",
                                "required": true
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}